footer
{
    text-align: right;
}

.done
{
    text-decoration: line-through;
}

li.toDoList-item
{    
    width: 50%;
}

.toDoList-item > input[type='checkbox']
{
    float: right;
}