html
	head
		title To Do List App
	body
		header
			h1 To Do List App
		form
			h2 Add New Task
			p
				label(for="toDoTask") Task Name
				input(name="toDoTask",type="text",placeholder="To Go Shopping")#toDoTask
			button(type="button") Create Task
		section
			ul.toDoList
				li.toDoList-item To Go Shopping groceries
				li.toDoList-item To Go Running to the stadium at 5:00 am
				li.toDoList-item To Go job meeting at 10:00 am
		footer
			| Developed by Group 5
