html
	head
		title To Do List App
	body
		h1 To Do List App
		form
			h2 Add New Task
			p
				label(for="toDoTask") Task Name
				input(name="toDoTask",type="text",placeholder="To Go Shopping")#toDoTask
			button(type="button") Create Task
